.top-global .menu { margin: 5px; display: block; text-align: right; }

.top-global .top-list.table-hover tbody tr > td {
  -webkit-transition: all 0.2s ease-in-out;
     -moz-transition: all 0.2s ease-in-out;
       -o-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out;
}

.top-global .top-list.table-hover tbody tr:hover > td {
	background-color: #d9edf7;
}

.top-global .top-list.table-hover tbody tr.row-female:hover > td {
	background-color: #f2dede !important;
}

.top-global .cleaner { clear: both; }

.top-global .top-list td { vertical-align: middle; }
.top-global .top-list td .thumbnail { width: 32px; height: 32px; }

.top-global .top-settings .table { font-family: verdana; background: #fff; }
.top-global .top-settings .table .name { font-weight: bold; color: #555; width: 60%; }
.top-global .top-settings .table .desc { font-weight: normal; color: #999; font-size: 11px; }
.top-global .top-settings .table .submits { text-align: right; }

.top-copyright { display: block; width: 54px; height: 55px; background: url("../img/copyright_icon.png") no-repeat; float: right; margin-top: 10px; }